:root {
  --cmd-primary:#FFF;
  --cmd-secondary:#000;
  --minor-one:#34A8E0;
  --minor-two:#E9590E;
  --minor-three:#3AAA34;

  --dark: #000;
  --course: #01CD85;
  --light: #fff;

  --groen: #01CD85;
  --blauw: #01B4EB;
  --geel: #F1E40A;
}

* {
  box-sizing:border-box;
  scroll-behavior: smooth;
}

html {
  background-color: var(--groen);
  background: linear-gradient(12deg, var(--groen) 46%, rgba(0,0,0,0) 34%),
              linear-gradient(21deg, var(--geel) 56%, var(--blauw) 46%);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open sans", Helvetica, Sans-Serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: var(--cmd-primary);
  padding:0;
  margin:0;
}
body {
  overflow-x:hidden;
  padding:0;
  margin:0;
  transition:all .25s;
}
h1, h2 {
  font-size: 1.6em;
  position:relative;
}
h2 {
  color:var(--cmd-secondary);
  background-color: #fff;
  padding:2rem;
  margin-left:-1rem;
  clip-path: polygon(0 0, 100% 17%, 100% 81%, 0 88%);
}
a {
  color: var(--cmd-secondary);
}
a:hover, a:focus,  summary:hover,  summary:focus{
  background: var(--cmd-primary);
  color: var(--cmd-secondary);
}
pre {
  overflow-x: hidden;
}
q {
  display: block;
  margin: 1em 0;
  font-size: 1.1em;
  font-style: italic;
}
p {
hyphens: auto;
hyphenate-limit-lines: 2;
-webkit-hyphenate-limit-before: 3;
-webkit-hyphenate-limit-after: 2;
hyphenate-limit-chars: 6 3 2;
hyphenate-limit-zone: 2em;
hyphenate-limit-last: always;
}
abbr {
hyphens: none;
}
i {
font-style: normal;
}

/*
Header met het logo en de titel
*/
body > header{
  padding: 1rem;
}
body > header h1 {
  padding-top:1rem;
  line-height: 1.5;
}
svg {
  margin-top: .5rem;
}
/* main */
main {
  transition: transform .25s ease-in;
}
main > header {
  max-width:30em;
}
section {
  position: relative;
  padding:1rem;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

/* footer */
footer {
  padding: 1em;
  border-radius: 0.2em;
  overflow-x: hidden;
  color: var(--cmd-primary);
}
footer a {
  color: var(--cmd-primary);
}
footer img {
  background: white;
  padding: 0.6em;
  margin: 0;
}

header h1 {
  font-size: 7vw;
  position: relative;
  z-index:10;
  margin:0;

}
header h1 em {
  font-size:1rem;
  display:block;
  font-weight:normal;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
img {
  max-width:100%;
}
main {
  position: relative;
  z-index:10;
}

ul img {
  border: 2px solid var(--light);
  margin-top: 2em;
  margin-bottom: 2em;
}
img {
  max-width: 100%;
}

article {
  margin: 2em 0;
  background-color:var(--groen);
  padding:0 2rem 2rem;
  position: relative;
  width:100%;
  
}
article h3 {
  color:var(--cmd-secondary);
  margin:-.5rem -2rem 0;
  background-color:var(--cmd-primary);
  padding:2rem;
  clip-path: polygon(0 0, 100% 8%, 100% 93%, 0 100%);
  
}

article p svg {
  stroke:rgba(255,255,255,.6);
  margin-left:1rem;
}
aside {

}
body > footer {
  font-style: italic;
}
footer h4 {
  margin: .25rem 0;
}
footer a {
  position: relative;
  padding-left: 2.5rem
}
footer a:hover {
  background-color: transparent;
}
footer a svg {
  position: absolute;
  left:0;
  top: 0;
  transform:scale(.6) translateY(-1.25rem);
  margin-bottom: .25rem;
  stroke:var(--cmd-secondary);
}
article footer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 2rem;
  margin: 2rem -2rem -2rem;
  background: rgb(255 255 255 / 80%);
  color: var(--cmd-secondary);
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}
article footer a {
  color: var(--cmd-secondary);
}
aside {
  margin:0 1rem;
}
aside h3 {
  background: var(--cmd-secondary);
  margin: 0;
  padding: 1rem 2rem;
  color: var(--cmd-primary);
  clip-path: polygon(0 0, 100% 17%, 100% 81%, 0 88%);
}
aside img {
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
}

@media (min-width: 40em) {
  body {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:1em;
  }

  header,
  footer {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 1 / 2;
  }
  aside {
    grid-column: 2 / 3;
    margin: 0 1rem 0 0;
  }
}